/**********************************************************
  Media Queries Start
**********************************************************/


@media only screen and (max-width:1200px) {
    
}


/**********************************************************
  Media Queries End
**********************************************************/